<div ui-view="subheader"></div>



<div class="container">

    <div class="">

        <div class="row-fluid">


            <div class="span90-10 ">
                <div ui-view="panel"></div><!-- look for 'panel@main' in states/main.js -->
            </div>
        </div>
    </div>      
</div>