<div class="row-fluid">
	
	<div class="one-third " style="height: 1500px">



	</div>

	<div class="two-thirds">
		<div ng-class="masterDetailCtrl.animate" ui-view="detail" booty-shake></div>
	</div>

</div>